/* General */
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
body {
    background: #303030;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 11px;
  }
  
  form {
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    color: #666;
    text-align: center;
    width: 500px;
    padding-top: 42px;
    margin: 50px auto;
    border-radius: 4px;
  }
  
  .header {
    color: #44bbeb;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 15px;
  }
  
  .optional {
    display: inline-block;
    background: F2F3F5;
  }
  
  #space {
    padding: 1em;
  }
  
  .footer {
    background: #F2F2F2;
    height: 45px;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    margin-top: 88px;
    padding-top: 3px;
  }
  
  .footer span {
    color: #59b3e7;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: black;
  }
  
  
  
  /* Fields and Button */
  
  .button {
    width: 80%;
    height: 42px;
    margin: 13px 0px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #F2F3F5;
    background-repeat: no-repeat;
    background-position: 15px 17px;
    text-indent: 17%;
    font-family: inherit;
    font-size: 16px;
    color: #737373;
  }
  
  #submit {
    background-color: #46bceb;
    font-size: 20px;
    font-family: inherit;
    font-weight: 300;
    color: white;
    margin-bottom: 8px;
    text-indent: 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }
  
  #submit:hover {
    background-color: #45bbff;
  }
  
  
  
  /* Username & Password Icons */
  
  #E-mail {
    background-image: url('https://www.pinclipart.com/picdir/big/31-317692_email-clip-art-email-clipart-png-download.png');
    background-size: 20px 15px;
  }
  
  #password {
    background-image: url('https://static.tumblr.com/mnsbkhd/5IMms3ldm/locked.png');
  }
  
  
  
  /* Checkbox
  
  input[type='checkbox'] {
    visibility: hidden;
  }
  
  input[type='checkbox'] + label span {
    display: inline-block;
    background: inherit;
    border: 2px solid #FA4811;
    border-radius: 35%;
    margin: -1px 4px 0 0;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }
  
  input[type='checkbox']:checked + label span {
    background: #3dc6dff8;
    border: 2px solid #4ea2f1;
  }
  
  */
  